.cart {
    position: sticky;
    top: 0;
    padding: 30px 20px;
}

.btn-clearCart {
    padding: 10px;
    color: white;
    width: 100%;
    margin: 0;
    background-color: rgb(233, 16, 16);
    border-radius: 5px;
}